* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}
